  <%= form_for:doctor_category, url:doctor_categories_path do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :photo %><br>
    <%= f.file_field :photo%>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Back' ,doctor_categories_path %>
<% end %>

