<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>home</title>
  <link rel="stylesheet" href="Bootstrap_files/bootstrap.css">
  <style>
  .jumbotron{
  background-color:#FA8072;
  color:white;
  width: 100%;
  height: 80%;
  }
 .image-size {
  max-width: 10px;
  max-height: 10px;
}
 
.panel-default > .panel-heading {
  background: #black;
}

.panel-footer {
  width: 20%
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}
.bs-example{
      margin: 50px;
       width: 85%;
  height: 20%;
    }
.carousel{
    background: #2f4357;
    margin-top: 50px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.panel-default {
    left-margin: 0;
    height: calc(40vh - 50px);
    width: 100%;
}
carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  span{
 background:#FFF;
 width:100%;
 float: left;
}
  body
  {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;  
    font-color :black; 
       background-color :white;
  }
  
  </style>
  </head>
  <body>
 
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyDoctor</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"" target="_blank">Home</a></li>
                <li><a href="#" target="_blank">About</a></li>
                <li><a href="#" target="_blank">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>



<section>

<% if !(patient_signed_in? || admin_signed_in? ||  doctor_signed_in?) %>
 <div class="page-header">
 
 <div class="jumbotron">
<p>
<li class="btn btn-success "><%= link_to 'Doctor Sign Up',new_doctor_registration_url %></li>
<li class="btn btn-success"><%= link_to 'Doctor Sign In',new_doctor_session_url %></li>
<li class="btn btn-success"><%= link_to 'Patient Sign Up',new_patient_registration_url %></li>
<li class="btn btn-success"><%= link_to 'Patient Sign In',new_patient_session_url %></li>
<li class="btn btn-success "><%= link_to 'Admin sign Up',new_admin_registration_url %></li>
<li class="btn btn-success"><%= link_to 'Admin Sign In',new_admin_session_url %></li>
<li class="btn btn-success"><%= link_to 'About Us',page_path('about') %></li>
<li class="btn btn-success"><%= link_to 'Contact Us',page_path('contact')%></li>
<li class="btn btn-success "><%= link_to 'Stay Connected',page_path('stay') %></li>
<li class="btn btn-success "><%= link_to 'Our Motto',new_admin_session_url %></li>

<%#=<a href=new_doctor_registration_url><button type="button" class="btn btn-success">About Us</button></a> %>
<% end %>
</p>
</section>


<%= image_tag("31.jpg", :alt => "rss feed" ) %>





<% if !(patient_signed_in? || admin_signed_in? ||  doctor_signed_in?) %>
<div class="container">

</br><div class="panel panel-default">
<div class="panel-heading panel-heading-custom">
       <h3 class="panel-title">Our Doctors-Find Here</h3>
        <div class="panel-body">

  <%@categories.each do |category| %>
      <%#= link_to category.name,doctor_category_path(category) %>
     <li class="list-group-item"> <%= link_to image_tag(category.photo,:size =>"70x70" ),doctor_category_path(category)%></li>
     <%= link_to category.name,doctor_category_path(category) %>
      <%#= category.name %>
  <% end %>


</br><div class="panel panel-primary" align="left">
<div class="panel-heading panel-heading-custom">
       <h3 class="panel-title"></h3>
        <div class="panel-body">

<center><div class="lg-12 md-12">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman1@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman1.jpg" alt="Portrait woman">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_man1@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_man1.jpg" alt="Portrait man">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman2@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman2.jpg" alt="Portrait woman">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_couple1@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_couple1.jpg" alt="Portrait couple">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman3@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman3.jpg" alt="Portrait woman">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_man2@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_man2.jpg" alt="Portrait man">
       
      </div></center>
      </div></div>


  


    <div class="container">
    <div class="row">
      <div class="lg-4 md-12 sm-12">
        <h2>Over 45 million appointments booked through MyDoctor worldwide!</h2>
      </div>
      <div class="lg-8 md-12 sm-12 sw2">
        <div class="quote_wrap">
          <div style="left: -100%;" class="slides">
            
          <blockquote><p>We use MyDoctor   for booking everything from meeting doctors world wide and how easy and efficient it is to use.</p><footer><strong>Louise Shaw,</strong> Kent Union</footer><i></i></blockquote><blockquote><p>Easy to use reservation system with great features that makes record keeping a breeze, we can easily tailor our sessions to those people who have signed in.</p><footer><strong>Kelsey Lapthorn,</strong> Ashford Run England Leader</footer><i></i></blockquote><blockquote><p>We have used MyDoctor for fixing appointments for many famous doctors and we are  quite happy with the functionality!</p><footer><strong>Julia,</strong> DogWorks Training Inc.</footer><i></i></blockquote><blockquote><p>MyDoctor was up and running smoothly in 15 minutes and fully integrated into my site, in style and format, in about an hour. The flexibility and simplicity is impressive.</p><footer><strong>Kane,</strong> Float Matrix</footer><i></i></blockquote><blockquote><p>MyDoctor satisfied the unique scheduling needs of my drop in child care center while making it more convenient for parents to schedule their own reservations.</p><footer><strong>Mandy James,</strong> The Treehouse Hourly Child Care</footer><i></i></blockquote></div>
        </div>
        <i class="sl lg-m"></i>
        <i class="sr lg-m"></i>
      </div>
    </div>
    <div class="row">
      <div class="lg-2 md-4 sm-6"><img srcset="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_teresa_malins@2x.png 2x" src="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_teresa_malins.png" alt="Logo Teresa Malins"/>
      <div class="lg-2 md-4 sm-6"><img srcset="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_dogworks@2x.png 2x" src="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_dogworks.png" alt="Logo Dogworks"/></div>
      <div class="lg-2 md-4 sm-6"><img srcset="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_one_to_one@2x.png 2x" src="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_one_to_one.png" alt="Logo One to One"/></div>
      <div class="lg-2 md-4 sm-6"><img srcset="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_aberdeen@2x.png 2x" src="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_aberdeen.png" alt="Logo Aberdeen"/</div>
      <div class="lg-2 md-4 sm-6"><img srcset="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_treehouse@2x.png 2x" src="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_treehouse.png" alt="Logo Treehouse"/></div>
      <div class="lg-2 md-4 sm-6"><img srcset="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_ashford@2x.png 2x" src="//d304pchb3b61hb.cloudfront.net/en/logos/logo_bw_ashford.png" alt="Logo Ashford"/></div>
    </div>
    
  </div>





<div class="container">
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
            <%= image_tag 'image5.jpg' %>
              
            </div>
            <div class="item">
                
                <%= image_tag 'image2.jpg' %>
            </div>
            <div class="item">
                
                <%= image_tag 'image3.jpg' %>
            </div>
             <div class="item">
                
                <%= image_tag 'image4.jpg' %>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
</div>
</div>
<% end %>
                









</section>


</br><div class="panel panel-primary" align="left" width="100%" >
<div class="panel-heading panel-heading-custom">
       <h3 class="panel-title"></h3>
        <div class="panel-body">
<section class="col-sm-12">
            <h1>Interested in using Appointuit at your practice?</h1>
            <div class="interested-btn">
            <center><li class="btn btn-success "><%= link_to 'Find Out More',new_doctor_registration_url %></li></center>

             
        </section>
        </div>
        </div>
        </div>


</div>
</div>
</div>
</div>


<footer>
    
      <section class="container">
        <div class="row">
          <section class="col-md-4 appointuit-com">
          
            <p>Appointuit Pty Ltd, An Australian company</p>
            <p>Copyright 2016, All rights reserved</p>
            <p>ABN: 58 153 559 016</p>
            <ul>
              <li><a href="https://play.google.com/store/apps/details?id=com.sibers.appointuit"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/googleplay.png" width="124px" height="37px"></a></li>
              <li><a href="https://itunes.apple.com/au/app/appointuit/id490457002?mt=8"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/appstore.png" width="124px" height="37px"></a></li>
            </ul>
          </section>
          <section class="col-md-8">
            <div class="row">
              <section class="col-sm-3 footer-site">
                <h5>Product</h5>
                <ul>
                  <li class="btn btn-link "><%= link_to 'Practice',new_doctor_registration_url %>
                  <li class="btn btn-link"><%= link_to 'Support',page_path('contact')%></li>

                  
                </ul>
              </section>
              <section class="col-sm-3 footer-site">
                <h5>Company</h5>
                <ul>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </section>
              <section class="col-sm-3 footer-site">
                <h5>Get in touch</h5>
                <ul>
                  <li><a href="#">1300 799 365</a></li>
                  <li><a href="#">support@MyDoctor.com</a></li>
                </ul>
              </section>
              <section class="col-sm-3 footer-site">
                <h5>Connect</h5>
                <ul class="connect">
                  <li><a href="https://www.facebook.com"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/fb.png"> Facebook</a></li>
                  <li><a href="https://www.twitter.com"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/twitter.png"> Twitter</a></li>
                  <li><a href="https://www.youtube.com"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/youtube.png"> YouTube</a></li>
                </ul>
              </section>
            </div>
          </section>
        </div>
      </section>
    </footer>



<div class="row">
        <div class="col-sm-12">
            <footer>
                <p>© Copyright 2016 My Doctors</p>
            </footer>
        </div>
    </div>

</body>
</html>

