<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>home</title>
  <link rel="stylesheet" href="Bootstrap_files/bootstrap.css">
  <style>
  .jumbotron{
  background-color:#FA8072;
  color:white;
  width: 100%;
  height: 80%;
  }
 .image-size {
  max-width: 10px;
  max-height: 10px;
}
 
.panel-default > .panel-heading {
  background: #black;
}

.panel-footer {
  width: 20%
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}
.bs-example{
      margin: 50px;
       width: 85%;
  height: 20%;
    }
.carousel{
    background: #2f4357;
    margin-top: 50px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.panel-default {
    left-margin: 0;
    height: calc(40vh - 50px);
    width: 100%;
}
carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  span{
 background:#FFF;
 width:100%;
 float: left;
}
  body
  {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;  
    font-color :black; 
       
    background-color: white;
    

  }
  input[type="text"]{
background-color: black!important
}
 .btn-space {
    margin-right: 15px;
}
  </style>
  </head>
  <body>
 
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyDoctor</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"" target="_blank">Home</a></li>
                <li><a href="#" target="_blank">About</a></li>
                <li><a href="#" target="_blank">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>



<% if !(doctor_signed_in?) %>
<%= render "location_search_box" %>
<% end %>


<section>

<% if !(patient_signed_in? || admin_signed_in? ||  doctor_signed_in?) %>
 <div class="page-header">
 
 <div class="jumbotron">
<p>
<li class="btn btn-success "><%= link_to 'Doctor Sign Up',new_doctor_registration_url %></li>
<li class="btn btn-success"><%= link_to 'Doctor Sign In',new_doctor_session_url %></li>
<li class="btn btn-success"><%= link_to 'Patient Sign Up',new_patient_registration_url %></li>
<li class="btn btn-success"><%= link_to 'Patient Sign In',new_patient_session_url %></li>
<li class="btn btn-success "><%= link_to 'Admin sign Up',new_admin_registration_url %></li>
<li class="btn btn-success"><%= link_to 'Admin Sign In',new_admin_session_url %></li>
<li class="btn btn-success"><%= link_to 'About Us',page_path('about') %></li>
<li class="btn btn-success"><%= link_to 'Contact Us',page_path('contact')%></li>
<li class="btn btn-success "><%= link_to 'Stay Connected',page_path('stay') %></li>
<li class="btn btn-success "><%= link_to 'Our Motto',page_path('motto') %></li>


<% end %>
</p>
</section>





<%= image_tag("31.jpg", :alt => "rss feed" ) %>




<% if !(patient_signed_in? || admin_signed_in? ||  doctor_signed_in?) %>
<div class="container">

</br><div class="panel panel-danger">
<div class="panel-heading panel-heading-custom">
       <h3 class="panel-title">Our Doctors-Find Here</h3>
        <div class="panel-body">

  <%@categories.each do |category| %>
      <%#= link_to category.name,doctor_category_path(category) %>
     <li class="list-group-item"> <%= link_to image_tag(category.photo,:size =>"70x70" ),doctor_category_path(category)%></li>
     <%= link_to category.name,doctor_category_path(category) %>
      <%#= category.name %>
  <% end %>
 



</br><div class="panel panel-primary" align="left">
<div class="panel-heading panel-heading-custom">
       <h3 class="panel-title"></h3>
        <div class="panel-body">

<center><div class="lg-12 md-12">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman1@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman1.jpg" alt="Portrait woman">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_man1@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_man1.jpg" alt="Portrait man">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman2@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman2.jpg" alt="Portrait woman">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_couple1@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_couple1.jpg" alt="Portrait couple">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman3@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_woman3.jpg" alt="Portrait woman">
        <img srcset="//d304pchb3b61hb.cloudfront.net/img/people/portrait_man2@2x.jpg 2x" src="//d304pchb3b61hb.cloudfront.net/img/people/portrait_man2.jpg" alt="Portrait man">
       
      </div></center>
      </div></div>


  


    <div class="container">
    <div class="row">
      <div class="lg-4 md-12 sm-12">
        <h2>Over 45 million appointments booked through MyDoctor worldwide!</h2>
      </div>
      <div class="lg-8 md-12 sm-12 sw2">
        <div class="quote_wrap">
          <div style="left: -100%;" class="slides">
            
          <blockquote><p>We use MyDoctor   for booking everything from meeting doctors world wide and how easy and efficient it is to use.</p><footer><strong>Louise Shaw,</strong> Kent Union</footer><i></i></blockquote><blockquote><p>Easy to use reservation system with great features that makes record keeping a breeze, we can easily tailor our sessions to those people who have signed in.</p><footer><strong>Kelsey Lapthorn,</strong> Ashford Run England Leader</footer><i></i></blockquote><blockquote><p>We have used MyDoctor for fixing appointments for many famous doctors and we are  quite happy with the functionality!</p><footer><strong>Julia,</strong> DogWorks Training Inc.</footer><i></i></blockquote><blockquote><p>MyDoctor was up and running smoothly in 15 minutes and fully integrated into my site, in style and format, in about an hour. The flexibility and simplicity is impressive.</p><footer><strong>Kane,</strong> Float Matrix</footer><i></i></blockquote><blockquote></footer><i></i></blockquote></div>
        </div>
        <i class="sl lg-m"></i>
        <i class="sr lg-m"></i>
      </div>
    </div>
    <div class="row">
     
      
  
    </div>
    
  </div>


<section class="container">
          <div class="icon-content-container">
            <div class="icon-content">
              <img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/icon-new.jpg">
              <h3 class="icon-title-new">For New &amp; Existing Patients</h3>
              <p class="icon-text">We assist almost 2000 health professionals to build their patient base and manage their existing demand.</p>
            </div>
            <div class="icon-content">
              <img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/icon-popular.jpg">
              <h3 class="icon-title-popular">Most popular medical application</h3>
              <p class="icon-text">India’s single most popular medical appointment application.</p>
            </div>
            <div class="icon-content">
              <img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/icon-build.jpg">
              <h3 class="icon-title-build">Build your new patient base</h3>
              <p class="icon-text">MyDoctor gives you and your practice the option to allow new patient registration to help grow your new patient base with little effort.</p>
            </div>
          </div>
            
              <div class="icon-content">
                <img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/icon-trusted.jpg">
                <h3 class="icon-title-trusted">Fully integrated</h3>
                <p class="icon-text">MyDoctor fully integrates with Best Practice .</p>
              </div>
              
        </div>
<hr>
      </section>



<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%">
    60% loaded....
  </div>
</div>




<div class="container">
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
            <%= image_tag 'image5.jpg' %>
              
            </div>
            <div class="item">
                
                <%= image_tag 'image2.jpg' %>
            </div>
            <div class="item">
                
                <%= image_tag 'image3.jpg' %>
            </div>
             <div class="item">
                
                <%= image_tag 'image4.jpg' %>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
</div>
</div>
<% end %>
                







</section>


</br><div class="panel panel-primary" align="left" width="100%" >
<div class="panel-heading panel-heading-custom">
       <h3 class="panel-title"></h3>
        <div class="panel-body">
<section class="col-sm-12">
            <h1>Interested in using MyDoctor at your practice?</h1>
            <div class="interested-btn">
            <center><li class="btn btn-success "><%= link_to 'Find Out More',page_path('support') %></li></center>

             
        </section>
        </div>
        </div>
        </div>


</div>
</div>
</div>
</div>
</br>
</br>
</br>
</br>
<div class="panel panel-success" align="left" width="100%" >
<div class="panel-heading panel-heading-custom">
       <h3 class="panel-title"></h3>
        <div class="panel-body">
<footer>
    
      <section class="container">
        <div class="row">
          <section class="col-md-4 appointuit-com">
         
           
            <ul>
              <li><a href="https://play.google.com/store/apps/details?id=com.sibers.appointuit"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/googleplay.png" width="124px" height="37px"></a></li>
              <li><a href="https://itunes.apple.com/au/app/appointuit/id490457002?mt=8"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/appstore.png" width="124px" height="37px"></a></li>
            </ul>
          </section>
            <mark><section class="col-md-8">
            <div class="row">
              <section class="col-sm-3 footer-site">
                <h5>Products</h5>
                <ul>
                  <li ><class="btn btn-link "><%= link_to 'Practice',new_doctor_registration_url %></li>
                  <li ><class="btn btn-link"><%= link_to 'Support',page_path('support')%></li>

                 
                </ul>
              </section>
              <section class="col-sm-3 footer-site">
                <h5>Company</h5>
                <ul>
                <li ><class="btn btn-link "><%= link_to 'Privacy',new_patient_session_url %></li>
               
               <li ><a href="#">Blog</a></li>
                </ul>
              </section>
              <section class="col-sm-3 footer-site">
                <h5>Get in Touch</h5>
                <ul>
                  <li><a href="#">1800 799 365</a></li>
                 
                  <li ><class="btn btn-link"><%= link_to 'support@MyDoctor.com',page_path('support')%></li>
                </ul>
              </section>
              <section class="col-sm-3 footer-site">
                <h5>Connect with us</h5>
                <ul class="connect">
                  <li><a href="https://www.facebook.com"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/fb.png"> Facebook</a></li>
                  <li><a href="https://www.twitter.com"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/twitter.png"> Twitter</a></li>
                  <li><a href="https://www.youtube.com"><img src="https://appointuit.com/home/wp-content/themes/appointuitv2/images/youtube.png"> YouTube</a></li>
                </ul>
              </section>
            </div>
          </section>
        </div>
      </section>
    </footer>


<div class="container">
    <div class="row">
      <div class="lg-7 md-12 sm-12 sp">
        <div class="share_wrap">
          <div class="i fb"><div fb-iframe-plugin-query="action=like&amp;app_id=444531315581492&amp;container_width=20&amp;href=http%3A%2F%2Fwww.supersaas.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true" fb-xfbml-state="rendered" class="fb-like fb_iframe_widget" id="fb_share_icon" data-href="http://www.supersaas.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"><span style="vertical-align: bottom; width: 116px; height: 20px;"><iframe class="" src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=444531315581492&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FP5DLcu0KGJB.js%3Fversion%3D42%23cb%3Df19a7df0ae45494%26domain%3Dwww.supersaas.com%26origin%3Dhttps%253A%252F%252Fwww.supersaas.com%252Ff24f9325583a77c%26relation%3Dparent.parent&amp;container_width=20&amp;href=http%3A%2F%2Fwww.supersaas.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true" style="border: medium none; visibility: visible; width: 116px; height: 20px;" title="fb:like Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f3205f8d585e5ca" width="1000px" frameborder="0" height="1000px"></iframe></span></div></div>
          <a class="i tw" href="https://twitter.com/SuperSaaS"></a>
          <div class="i gp"><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px;"><iframe title="+1" data-gapiattached="true" src="https://apis.google.com/se/0/_/+1/fastbutton?usegapi=1&amp;annotation=none&amp;size=medium&amp;origin=https%3A%2F%2Fwww.supersaas.com&amp;url=https%3A%2F%2Fwww.supersaas.com%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.2cCpsn2T1hs.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCMJzbs5oF2lrIAxaA1t9L7SCT7ddA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1474277015868&amp;parent=https%3A%2F%2Fwww.supersaas.com&amp;pfname=&amp;rpctoken=49169656" name="I0_1474277015868" id="I0_1474277015868" vspace="0" tabindex="0" style="position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" scrolling="no" marginwidth="0" marginheight="0" hspace="0" width="100%" frameborder="0"></iframe></div></div>

      </div>
     
    </div>
   

<div class="row">
        <div class="col-sm-12">
            <footer>
             <code><p>MyDoctor @Copyright 2016, All rights reserved</p></code>  
        </div>
    </div>

</body>
</html>

