<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  
  <%= @document.name %>
  <%= @document.certificate %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
