<!DOCTYPE html>
<html>
<head>
  <title>Health</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>


  
<div id="user_nav">
    <% if admin_signed_in? %>

        <h5><%= link_to "Sign Out", destroy_admin_session_url, :method => :delete %></h5>
    <% end %>
</div>

<div id="user_nav">
    <% if doctor_signed_in? %>
        <h2><center>Inside Doctor's Page </center></h2>
        <h5><%= link_to "Sign Out", destroy_doctor_session_url, :method => :delete %></h5>
    <% end %>
</div>

<div id="user_nav">
    <% if patient_signed_in? %>
        <h2><center>Inside Patient's Page </center></h2>
        <h5><%= link_to "Sign Out", destroy_patient_session_url, :method => :delete %></h5>
    <% end %>
</div>
<% flash.each do |name, msg| %>
<% content_tag :div, msg, :id => "flash_#{name}" %>
<% end %> 



<% if admin_signed_in?  %>
    <% @doctors=Doctor.all %>
    <% @patients=Patient.all %>


    <h2><center>Inside Admin Page </center></h2>
    <h3>Listing Two Type Users:</h3>
    <div class="jumbotron">
    <ul><li><h4><%= link_to 'Doctors List' ,'/:admin/:id' %></h4></li>
    <li><h4><%= link_to 'Patients List' ,'admins/show' %></h4></li></ul>

 

      <%= link_to "Edit Profile",edit_admin_registration_path %>
  
      <%= link_to "Sign out", destroy_admin_session_path, method: 'delete' %>
  
    </div>

    <div class="alert alert-info">
    <strong>Heads up!</strong> In Admin's Home.
</div>
<% end %>





<% if doctor_signed_in?  %> 

<% @doc=current_doctor%>
<div class="jumbotron">

<%= link_to "My Profile",doctors_path %>
 
  <%= link_to "Edit Profile",edit_doctor_registration_path %>
  
  <%= link_to "Upload Documents", destroy_doctor_session_path, method: 'delete' %>
 
  <%= link_to "Sign out", destroy_doctor_session_path, method: 'delete' %>
 

</div>
<div class="alert alert-info">
    <strong>Heads up!</strong> In Doctor's Home.
</div>
 <% end %>







<% if patient_signed_in?  %>  
   <div class="jumbotron">
    
  <%= link_to "Edit Profile",edit_patient_registration_path %>
  
 <%= link_to "Sign out", destroy_patient_session_path, method: 'delete' %>

 


 

   </div>
  <div class="alert alert-info">
    <strong>Heads up!</strong> In Patient's Home.
</div>
<% end %>
 

<%= yield %>
</body>
</html>
