<!DOCTYPE html>
<html>
<head>
  <title>Health</title>
  <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
<% flash.each do |name, msg| %>
<% content_tag :div, msg, :id => "flash_#{name}" %>
<% end %> 




<% if admin_signed_in?  %>
<h2><center>Inside Admin's Page </center></h2>
    <% @doctors=Doctor.all %>
    <% @patients=Patient.all %>
    <div class="jumbotron">
     <%= link_to 'Listing all doctors and patients' ,admins_path %>
     <%#= link_to 'Patients List' ,admin_path %>
      <%= link_to "Edit Profile",edit_admin_registration_path %>
      <%= link_to "Doctor category settings", doctor_categories_path %>
      <%= link_to "See availabilty",slots_path %>
      <%= link_to "Sign out", destroy_admin_session_path, method: 'delete' %>
    </div>
   
    <div class="alert alert-info">
    <strong>Heads up!</strong> In Admin's Home.
</div>
<% end %>




<% if doctor_signed_in?  %> 
<h2><center>Inside Doctor's Page </center></h2>

<% @doc=current_doctor%>
<div class="jumbotron">

<%= link_to "My Profile",doctor_path(current_doctor.id) ,:target => "_blank"%>

  <%= link_to "Edit Profile",edit_doctor_registration_path %>
  
  <%= link_to "Upload Documents",documents_path %>
  <%= link_to "Fix your Availabilty",new_slot_path %>
  <%#= link_to "Edit Availabilty",edit_slot_path(slot) %>
  <%#= link_to "Show my availabilty",slot_path %>
 
  <%= link_to "Sign out", destroy_doctor_session_path, method: 'delete' %>
 

</div>
<div class="alert alert-info">
    <strong>Heads up!</strong> In Doctor's Home.
</div>
 <% end %>





<% if patient_signed_in?  %>  
<h2><center>Inside Patients's Page </center></h2>
   <div class="jumbotron">
   <%= link_to "My Profile", patient_path(current_patient.id)%>
  <%= link_to "Edit Profile",edit_patient_registration_path %>
  <%= link_to "show doctors",doctors_path %>
  <%= link_to "show doctors availabilty",slots_path %>
 <%= link_to "Sign out", destroy_patient_session_path, method: 'delete' %>

   </div>
  <div class="alert alert-info">
    <strong>Heads up!</strong> In Patient's Home.
</div>
<% end %>
 

<%= yield %>


</body>
</html>
